<!DOCTYPE html>
<html lang="uk">
<head>
  <title>Панель учня</title>
  <link href="/home/pookie/SchoolProject/Project/Web/public/css/main.css" rel="stylesheet">
</head>
<body>

<nav class="navbar">
  <div class="container-fluid">
    <span class="navbar-brand">Віртуальний клас — Учень</span>
    <button class="btn-light"><a href="Index.html" class="btn-lighht">Вийти</a></button>
  </div>
</nav>

<div class="containerleson">
  <h2 class="mbtups">Мій розклад</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Дата</th>
        <th>Час</th>
        <th>Предмет</th>
        <th>Вчитель</th>
        <th>Посилання</th>
      </tr>
    </thead>
    <tbody class="tabled">
      <tr>
         <td>2025-06-05</td>
        <td>09:00</td>
        <td>Математика</td>
        <td>Радкевич М.М.</td>
        <td><a href="https://meet.google.com/abc-defg-hij" target="_blank">Приєднатися</a></td>
      </tr>

    </tbody>
  </table>
</div>
 <footer class="footer">
    &copy; 2025 Віртуальний клас | Фурманчук Владислав
  </footer>
</body>
</html>
