<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Віртуальний клас</title>
  <script src="https://kit.fontawesome.com/2d8b6b518f.js" crossorigin="anonymous"></script>
  <link href="/home/pookie/SchoolProject/Project/Web/public/css/main.css" rel="stylesheet">
</head>
<body>

  <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="Index.html">Віртуальний клас</a>
      <div class="d-flex">
        <button class="btn-light"><a href="login.html" class="btn-lighht">Увійти</a></button>
        <button class="btn-outline-light"><a href="registre.html" class="btn-outlinee">Реєстрація</a></button>
      </div>
    </div>
  </nav>

  <header class="bg-gray">
    <div class="contaier text-center">
      <h1 class="headdd">Навчайся онлайн — просто та зручно</h1>
      <p class="lead">Організовуйте віртуальні уроки з Google Meet. Для вчителів та учнів загальноосвітніх шкіл.</p>
      <a href="registre.html" class="btn-login"><span class="btn-login">Почати зараз</span></a>
    </div>
  </header>

  <section class="py-5">
    <div class="row text-center">
      <div class="col">
        <h3 class="text-center"><i class="fa-solid fa-person-chalkboard"></i> Створення уроків</h3>
        <p class="pii">Вчителі можуть створювати розклад, додавати опис і запрошувати учнів.</p>
      </div>
      <div class="col">
        <h3 class="text-center"><i class="fa-solid fa-calendar-days"></i> Онлайн-розклад</h3>
        <p class="pii">Учні бачать розклад своїх уроків і можуть приєднатися вчасно.</p>
      </div>
      <div class="col">
        <h3 class="text-center"><i class="fa-solid fa-video"></i> Відеоуроки</h3>
        
        <p class="pii">Автоматичне створення Google Meet для кожного уроку.</p>
      </div>
    </div>
  </section>

</body>
<footer class="footer">
  &copy; 2025 Віртуальний клас | Фурманчук Владислав
</footer>
</html>
